body {
    background-color: #ece5ce;
    font-family: 'Comfortaa', cursive;
}


.containerWeather{
    margin-top:10rem;
    margin:auto;
    text-align: center;
    box-sizing: border-box;
    border-radius: 100px;
    width: 400px;
    background-color: #ece5ce;
}
.title{
    margin-top: 2em;
}

.change-location input{
    background-color: transparent;
    border-radius: 30px;
    margin: 1em;
    padding: 0.5em;
}
.none{
    display: none;
}

.card img{
    width: 350px;
    margin-top: 2em;
    border-radius: 150px;
}
.conditions{
    font-size: 2em;
}

.cityName{
    font-size: 2em;
}

.temp{
    font-size: 2.2em;
}